.cantidadCarrito {
    color: white;
    font-size: 20px;
}

.logoCarrito {
    height: 50px;
}

.divCart {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.cartIcon {
    color: white;
    font-size: 2rem;
}