.NavBar {
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    height: 50px;
    overflow: hidden;
}

.Logo {
    width: 200px;
}

.active {
    font-weight: bold;
}

.inactive {
    color: white;
    text-decoration: none;
}